@charset "UTF-8";

body {
    background-color:rgb(0, 171, 169);
    background-image: linear-gradient(90deg, rgb(0, 171, 169), orange);
    color: rgb(0, 0, 0);
    font-size: 12pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    color: rgb(10, 69, 75);
}

a {
    color: rgb(13, 100, 100);
    text-decoration: none;
    text-align: right;
}
p{
    text-align: justify;
}